#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  padding: 0 2em;
  background-color: #00a087;
  color: #e8fdff;

  .logo {
    width: 80px;
    height: 80px;
    float:left;
  }

  .header {
    font-size: 2em;
    line-height: 80px;
    margin-left: 10px;
    float:left;
  }

  button {
    margin-top: 15px;
    outline:0;
    height: 50px;
    float:right;
    padding: 0 15px;
    border-radius: 5px;
    border: 1px solid white;
    color: #fff;
    font-size: 1.5em;
    background: transparent;
    transition: background .5s, color .5s, border .5s;
  }

  button:hover {
    background-color: rgba(255, 255, 255, 0.6);
    color: #000;
    border: 1px solid black;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.58);
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.58);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.58);
    cursor: pointer;
  }

  button:active {
    box-shadow: 0px 0px 0px 0px;
    -webkit-box-shadow: 0px 0px 0px 0px;
    -moz-box-shadow: 0px 0px 0px 0px;
  }
}