%border-radius {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.new-tweet {
  margin: 0;
  background-color: #eee;
  border: 1px solid white;
  @extend %border-radius;
  
  padding: 10px;
  display: none;

  h2 {
    margin-top: 0;
    border-bottom: 1px solid black;
  }

  span {
    float: right;
  }

  textarea {
    margin-bottom: 10px;
    min-height: 60px;
    display: block;
    width: 100%;
  }

  button {
    @extend %border-radius;
    transition: font-size .5s, color .5s, background-color .5s;
  }

  button:hover {
    font-size: 1.5em;
    color: #fff;
    background-color: #444;
  }
}

.red {
  color: red;
}

.error {
  display: none;
  line-height: 1.5em;
  padding: 2px;
  color: red;
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.2);
}